body{
    margin: 0;
    padding:0;
    background: gray;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
h2 {
    font-style: normal;
    font-size: 24px;
    text-align: left;
    background-color: #000000;
    color: #f8f8f8;
}
.loginBox{
    position: fixed;
    width: 320px;
    height: 420px;
    color: #fff;
    top: 25%;
    left: 40%;
    background: black;

}
.userPic{
   position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 45%;
    top: -60px;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginBox input{
    width: 99%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
}
.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
